:root {
  /* Colour Palette */
  --color-brazilian-green: #009C3B;
  --color-brazilian-yellow: #FFDF00;
  --color-brazilian-blue: #002776;
  --color-white: #FFFFFF;
}

html, body {
  position: relative;
  overflow: hidden;
}

body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  font-family: var(--font-nunito);
}
