:root {
  /* Colour Palette */
  --color-brazilian-green: #009C3B;
  --color-brazilian-yellow: #FFDF00;
  --color-brazilian-blue: #002776;
  --color-white: #FFFFFF;
}

body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  font-family: var(--font-monserrat);
}

h1, h4 {
  margin: 0.25rem;
}

h1 {
  font-family: var(--font-title);
  font-size: 3rem;
}


