.dancer {
  position: absolute;
  bottom: 0;
  z-index: 1;
  height: 15rem;
  width: auto;
  overflow: hidden;
  pointer-events: none;
}

.left {
  left: -10dvw;
}

.right {
  right: -15dvw;
}

@media screen and (min-width: 768px) {
  .dancer {
    height: 20rem;
  }

  .left {
    left: 22dvw;
  }
  
  .right {
    right: 20dvw;
  }
}