.dancer {
  position: absolute;
  bottom: 0;
  z-index: 1;
  height: 15rem;
  width: auto;
  overflow: hidden;
  pointer-events: none;
}

.leftStart {
  left: 6dvw;
}

.leftReady {
  animation: glideLeft 1s ease-in-out forwards;
}

.rightStart {
  right: 0;
}

.rightReady {
  animation: glideRight 1s ease-in-out forwards;
}

@keyframes glideLeft {
  0% {
    left: 6dvw;
  }

  100% {
    left: -10dvw;
  }
}

@keyframes glideRight {
  0% {
    right: 0;
  }

  100% {
    right: -15dvw;
  }
}

@media screen and (min-width: 768px) {
  .dancer {
    height: 20rem;
  }

  .leftReady, .leftStart {
    left: 22dvw;
    animation: none;
  }
  
  .rightReady, .rightStart {
    right: 20dvw;
    animation: none;
  }
}